
.pagebar-container {
    height: 65px;
    width: 100%;
    background-color: cornsilk;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }
  
  .save-button-container {
    align-self: flex-end;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
  }

  .save-button {
      cursor: pointer;
      background-color: #03A87C;
      border: none;
      border-radius: 4px;
      line-height: 25px;
      padding: 0 6px;
      border: none;
      text-transform: none;
  }

  .save-button:hover {
      background: #029e74;
      
  }

  .save-text {
    margin: 6px 0;
    color: #F8F8F8;
    font-size: 15px;
    line-height: 25px;
    font-style: bold;
    text-transform: none;
    margin: 8px 16px;
  }

  .left-container {
    align-self: flex-start;
    height: 100%;
    margin-left: 42px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 

  .logo {
      display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: auto;
  }

  .left-info-container {
      height: 100%;
      width: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 12px !important;
  }

  .mode-title {
    color: rgba(0, 0, 0, 0.84) !important;
    fill: rgba(0, 0, 0, 0.84) !important;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }

  .status-text {
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.56) !important;
    fill: rgba(0, 0, 0, 0.56) !important;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
  }